.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-item {
  text-decoration: none;
  color: black;
}

@media (max-width: 993px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
