.MuiDrawer-paper {
  /* border: none; */
  box-shadow: 1px 1px 5px gray;
}
.MuiDrawer-paper::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */

  padding: 0px 10px !important;
}
.logo-div {
  margin-left: 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
