.video-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 90%;
  gap: 15px;
  margin: auto;
}

.description-section {
  margin-top: 20px;
  background: #f1efef;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 13px;
}
.comment-section {
  margin: 20px 0px;
  /* background: lightgray; */
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 13px;
}

.iframe-css {
  border-radius: 20px;
  width: 100%;
  height: 391px;
}

@media (max-width: 1260px) {
  .video-grid-container {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 993px) {
  .video-grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .iframe-css {
    height: 260px;
  }
}
